<p id="notice"><%= notice %></p>

<% if user_signed_in? %>
  <% if current_page?(user_profile_path(current_user.user_profile)) %>
    <%= link_to "Create your business profile", new_business_profile_path, class: 'btn btn-lg btn-warning' %>
  <% end %>
<% end %>
<div class="row">
  <div class="col-md-6">
  <h2>My info</h2>

<p>
  <strong>Name:</strong>
  <%= @user_profile.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user_profile.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user_profile.phone %>
</p>

<p>
  <strong>Tagline:</strong>
  <%= @user_profile.tagline %>
</p>

<p>
  <strong>About:</strong>
  <%= @user_profile.about %>
</p>

<p>
  <strong>Url:</strong>
  <%= @user_profile.url %>
</p>

<p>
  <strong>Blog:</strong>
  <%= @user_profile.blog %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @user_profile.twitter %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @user_profile.facebook %>
</p>

<p>
  <strong>Linkedin:</strong>
  <%= @user_profile.linkedin %>
</p>

<p>
  <strong>Google:</strong>
  <%= @user_profile.google %>
</p>

<p>
  <strong>Github:</strong>
  <%= @user_profile.github %>
</p>

<p>
  <strong>Image:</strong>
  <%= @user_profile.image %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @user_profile.slug %>
</p>
</div>
<div class="col-md-6">
<h2>My Posts (<span id="posts_count"><%= @user_profile.user.posts.count %></span>)</h2>
<h3>New post:</h3>
<%= simple_form_for @post, remote: true do |f| %>
  <%= f.error_notification %>
    <div class="form-group">
      <%= f.input :title, input_html: { class: "form-control"} %>
    </div>
    <div class="form-group">
      <%= f.input :content, label: 'Post', input_html: { class: "form-control"} %>
    </div>
    <%= f.button :submit %>
<% end %>
<hr>
<h3>Previous posts:</h3>
<% if @posts %>
  <div id="posts">
    <%= render @posts %>
  </div>
<% end %>


</div>
</div>
<%= link_to 'Edit', edit_user_profile_path(@user_profile) %> |
<%= link_to 'Back', user_profiles_path %>
